<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/auth/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
		<form-login login-page="/auth/login.jsp"
			authentication-failure-url="/auth/login.jsp?login_error=1" />
		<logout logout-success-url="/auth/login.jsp" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
         SELECT USERNAME, PASSWORD, CASE ACCESS_ENABLED WHEN 1 THEN 'true' ELSE 'false' END 'ENABLED' 
         FROM personas 
         WHERE USERNAME=?;"

				authorities-by-username-query="
        select p.username, r.role
        from personas p, roles r
        where p.role_id = r.role_id and p.username = ? ;" />
		</authentication-provider>
	</authentication-manager>
</b:beans>
